/* issue title in board */
#summary-val {
    margin-left: -5px;
    padding: 2px 30px 2px 5px;
    z-index: 1;
    direction: rtl;
}

/* issue title in board list*/
.ghx-issue-fields .ghx-summary .ghx-inner {
    display: block;
    line-height: 1.1;
    max-height: 3.3em;
    overflow: hidden;
    word-wrap: break-word;
    direction: rtl;
}

/* issue description*/
/* not working */ 
body#tinymce.mce-content-body {
    margin: 8px 1px 8px 1px;
    background: white;
    direction: rtl !important;
}
/* not working */

/* Issue comments */
/* not working */
div.user-content-block
    overflow: auto;
    overflow-y: hidden;
    direction: rtl !important;
}
/* not working */

/* Issue label */
ul.labels {
    display: block;
    list-style-type: none;
    margin: 0 0 -5px;
    padding: 0;
    direction: rtl;
}
