/* issue title in board */
#summary-val {
    margin-left: -5px;
    padding: 2px 30px 2px 5px;
    z-index: 1;
    direction: rtl;
}

/* issue title in board list*/
.ghx-issue-fields .ghx-summary .ghx-inner {
    display: block;
    line-height: 1.1;
    max-height: 3.3em;
    overflow: hidden;
    word-wrap: break-word;
    direction: rtl;
}

/* issue title in search results*/
.details-layout .split-view .list-results-panel .list-panel .issue-list>li .splitview-issue-link .issue-link-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 3px;
    direction: rtl;
}

/* issue title in clone dialog*/
form.aui .long-field {
    max-width: 500px;
    direction: rtl;
}

/* Linked stories list in epic */
.ghx-issuetable .ghx-summary {
    min-width: 200px;
    width: 100%;
    direction: rtl;
}

/* Issue label */
ul.labels {
    display: block;
    list-style-type: none;
    margin: 0 0 -5px;
    padding: 0;
    direction: rtl;
}

/* Issue description field label */
.user-content-block {
    overflow: auto;
    overflow-y: hidden;
    direction: rtl !important;
}

/* Issue comments */
.action-body {
    overflow: auto;
    overflow-y: hidden;
    margin: 0;
    margin-top: 10px;
    direction: rtl;
}

/* epic link on issue */
a.aui-label {    
    direction: rtl;
}

/* Releases table */
.versions-table .versions-table__name a {
    display: inline-block;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: normal;
    direction: rtl;
}

/* Issue list in a release */
#release-report table.aui .summary>a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: bottom;
    direction: rtl;
}

/* Components in components page */
.components-table .components-table__name a {
    display: inline-block;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: normal;
	direction: rtl;
}

#components-add__component input, #components-add__component select {
    max-width: none;
    direction: rtl;
}
